.App {
  font-family: sans-serif;
  text-align: left;
  margin: 12px;
}

.add {
  color: #eee;
  background: linear-gradient(#333, #555);
  border: none;
  padding: 0.65em;
  border-radius: 4px;
  margin-bottom: 1em;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1), 1px 2px 3px rgba(0, 0, 0, 0.3);
}

main {
  margin-top: 12px;
}

.item {
  background: #47a;
  margin-bottom: 12px;
  color: #efefef;
  padding: 0.7em;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.7);
}

.remove {
  transform: rotate(45deg) scale(1.4);
  cursor: pointer;
  color: #ddd;
  user-select: none;
}
.remove:hover {
  color: #fff;
}
